<table class="procurement-table">
  <thead>
    <tr>
      <th class="column-text">Building Name</th>
      <th class="column-text">Address</th>
      <th class="column-text" >Bldg Code</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>084 FRANCHISE TAX BOARD COMPLEX BUILDINGS</td>
        <td>9645 Butterfield Way</td>
        <td>11890</td>
      </tr>
      <tr>
        <td>California Department of Technology Gold Camp Campus</td>
        <td>3101 Gold Camp Drive</td>
        <td>1267920</td>
      </tr>
      <tr>
        <td>RICHMOND LAB AND OFFICE BLDGS</td>
        <td>850 MARINA BAY PARKWAY</td>
        <td>1229954</td>
      </tr>
      <tr>
        <td>California Veterans Home</td>
        <td>100 CALIFORNIA DRIVE</td>
        <td>1260067</td>
      </tr>
      <tr>
        <td>EAST END COMPLEX</td>
        <td>1500 Capitol Avenue</td>
        <td>1137711</td>
      </tr>

  </tbody>
</table>