<h2 id="terminology">Concept</h2>

<p>NudgeSMS is a text messaging application that aims to improve energy and water conservation practices by sending text messages to state employes.</p>

<strong>How do I register?</strong></br>
<p>Send a text message to PHONE NUMBER HERE with your building code.</p>

<p><strong>Where do I find my building code</strong></p>
<p>Building codes can be posted in building bathrooms to encourage employees to participate in the energy conservation challenge.</p>


