<h2 id="terminology">Concept</h2>

<p>NudgeSMS is a text messaging application that aims to improve energy and water conservation practices by sending text messages to state employees.</p>

<strong>How do I register?</strong></br>
<p>Send a text message to <strong>(760) 452-8548</strong> with your building code.</p>

<p><strong>Where do I find my building code</strong></p>
<p>Building codes can be posted in building bathrooms to encourage employees to participate in the energy conservation challenge.  Here are all 1722 building codes:</p>



